<h4>DHCP</h4>

<% if params[:result] == "false" %>
<div class="alert alert-danger" role="alert">Error Occured</div>
<% end %>

<a class="btn btn-sm btn-success" href="/dhcp/new">New DHCP Reservation</a>
<a class="btn btn-sm btn-default" href="/dhcp/leases">Leases</a>
<a class="btn btn-sm btn-default" href="/dhcp/log">Log</a>
<br><br>

<table class="table table-condensed table-striped">
  <tr>
    <th>Host</th>
    <th>MAC</th>
    <th>IP</th>
    <th></th>
  </tr>
<% DHCP.all.each do |res| %>
  <tr>
    <td><%= res %></td>
    <td class=""><%= res.mac %></td>
    <td><%= res.ip %></td>
    <td class="text-right">
      <a class="btn btn-default btn-xs" href="/dhcp/<%= res %>/edit">Edit</a>
      <a class="btn btn-danger btn-xs" data-confirm="Are you sure?" data-method="delete" href="/dhcp/<%= res %>">Delete</a>
    </td>
  </tr>
<% end %>
</table>
