<h4>DHCP</h4>

<% if params[:result] == "false" %>
<div class="alert alert-danger" role="alert">It's BROKEN!!!!</div>
<% end %>

<a class="btn btn-sm btn-success" href="/dhcp/new">New Reservation</a>
<br><br>

<table class="table table-condensed table-striped">
  <tr>
    <th>Host</th>
    <th>MAC</th>
    <th>IP</th>
    <th></th>
  </tr>
<% read_dhcp_reservations.each do |reservation| %>
  <tr>
    <td><%= reservation[:host] %></td>
    <td class=""><%= reservation[:mac] %></td>
    <td><%= reservation[:ip] %></td>
    <td class="text-right">
      <a class="btn btn-default btn-xs" href="/dhcp/<%= reservation[:host] %>/edit">Edit</a>
      <a class="btn btn-danger btn-xs" data-confirm="Are you sure?" data-method="delete" href="/dhcp/<%= reservation[:host] %>">Delete</a>
    </td>
  </tr>
<% end %>
</table>
